<div class="main-visual">
    <div class="main-text-container">
        <h1>Lorem Ipsum</h1>
        <p>simply dummy text of the printing</p>
    </div>
</div>

<div class="portfolio">
    <div class="portfolio-container">
        <h2>Portfolio</h2>
        <p>
            It is a long established fact that a reader will be distracted by the readable<br>
            content of a page when looking at its layout.<br>
            The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters
        </p>
        <div class="production-group">
            <div class="production bg-1"></div>
            <div class="production bg-2"></div>
            <div class="production bg-3"></div>
            <div class="production bg-4"></div>
            <div class="production bg-5"></div>
            <div class="production bg-6"></div>
        </div>
    </div>
</div>

<div class="feature">
    <div class="feature-container">
        <h2>Feature</h2>
        <p class="heading-text">
            It is a long established fact that a reader will be distracted by the readable<br>
            content of a page when looking at its layout.<br>
            The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters
        </p>
        <div class="strength-group">
            <div class="strength">
                <i class="fa-sharp fa-solid fa-code"></i>
                <h3>Strength1</h3>
                <p>
                    Contrary to popular belief, Lorem Ipsum is not simply random text. 
                    It has roots in a piece of classical Latin literature from 45 BC, 
                    making it over 2000 years old. Richard McClintock, a Latin professor 
                    at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur
                </p>
            </div>
            <div class="strength">
                <i class="fa fa-desktop"></i>
                <h3>Strength2</h3>
                <p>
                    Contrary to popular belief, Lorem Ipsum is not simply random text. 
                    It has roots in a piece of classical Latin literature from 45 BC, 
                    making it over 2000 years old. Richard McClintock, a Latin professor 
                    at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur
                </p>
            </div>
            <div class="strength">
                <i class="fa fa-cogs"></i>
                <h3>Strength3</h3>
                <p>
                    Contrary to popular belief, Lorem Ipsum is not simply random text. 
                    It has roots in a piece of classical Latin literature from 45 BC, 
                    making it over 2000 years old. Richard McClintock, a Latin professor 
                    at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur
                </p>
            </div>
        </div>
    </div>
</div>

<div class="profile">
    <div class="profile-container">
        <h2>Profile</h2>
        <p class="heading-text">
            It is a long established fact that a reader will be distracted by the readable<br>
            content of a page when looking at its layout.<br>
            The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters
        </p>
        <div class="profile-group">
            <div class="left-content">
                <div class="my-face"></div>
            </div>
            <div class="right-content">
                <h3>MyName</h3>
                <p>
                    Contrary to popular belief, Lorem Ipsum is not simply random text. 
                    It has roots in a piece of classical Latin literature from 45 BC, 
                    making it over 2000 years old. Richard McClintock, a Latin professor 
                    at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur
                </p>
                <h3>MySkills</h3>
                <p>HTML/CSS,JavaScript,JQuery,PhotoShop</p>
            </div>
        </div>
    </div>
</div>