*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header {
    height: 70px;
    width: 100%;
    background-color: #EC715F;
}

.nav {
    height: 70px;
    width: 1024px;
    margin: 0 auto;
}

.nav-list {
    float: right;
}

.nav-list li {
    float: left;
    list-style: none;
    text-decoration: none;
    line-height: 70px;
    padding: 0px 30px;
}

.nav-link {
    font-size: 16px;
    text-decoration: none;
    color: #FAFAFA;
}

.main-visual {
    height: 640px;
    width: 100%;
    color: #FAFAFA;
    background-image: url(../../assets/images/img/mv.png);
    background-size: cover;
    background-position: center;
}

.main-text-container {
    padding-top: 200px;
    text-align: center
}

.main-text-container h1 {
    font-size: 64px;
}

.main-text-container p {
    font-size: 20px;
}