*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header {
    height: 70px;
    width: 100%;
    background-color: #EC715F;
}

.nav {
    height: 70px;
    width: 1024px;
    margin: 0 auto;
}

.navbar-brand img {
    height: 70px;
}

.navbar-box {
    display: none;
}

.nav-list {
    float: right;
}

.nav-list li {
    float: left;
    list-style: none;
    text-decoration: none;
    line-height: 70px;
    padding: 0px 30px;
}

.nav-link {
    font-size: 16px;
    text-decoration: none;
    color: #FAFAFA;
}

.main-visual {
    height: 640px;
    width: 100%;
    color: #FAFAFA;
    background-image: url(../../assets/images/img/mv.png);
    background-size: cover;
    background-position: center;
}

.main-text-container {
    padding-top: 200px;
    text-align: center
}

.main-text-container h1 {
    font-size: 64px;
    margin-bottom: 10px;
}

.main-text-container p {
    font-size: 20px;
}

.portfolio {
    background-color: #ECEFF1;
}

.portfolio-container {
    width: 920px;
    margin: 0 auto;
}

.portfolio h2 {
    padding-top: 90px;
    text-align: center;
    font-size: 32px;
    color: #000000;
}

.portfolio h2::after {
    content: "";
    display: block;
    width: 70px;
    height: 3px;
    margin: 8px auto 0px auto;
    background-color: #EC715F;
}

.portfolio p {
    text-align: center;
    color: #000000;
    padding-top: 30px;
}

.production-group {
    padding: 30px 0px 90px 0px;
    display: flex;
    flex-flow: row wrap;
}

.production {
    height: 250px;
    width: 300px;
    margin: 10px 10px 0px 0px;
    background-size: cover;
    background-position: center;
}

.production:nth-child(3n) {
    margin-right: 0px;
}

.production:nth-child(-n+3) {
    margin-top: 0px;
}

.bg-1 {
    background-image: url(../../assets/images/img/sketch.jpg);
}

.bg-2 {
    background-image: url(../../assets/images/img/websuku.png);
}

.bg-3 {
    background-image: url(../../assets/images/img/write.jpg);
}

.bg-4 {
    background-image: url(../../assets/images/img/webcamp.png);
}

.bg-5 {
    background-image: url(../../assets/images/img/talk.jpg);
}

.bg-6 {
    background-image: url(../../assets/images/img/webcamp-mother.png);
}

.feature-container {
    width: 980px;
    margin: 0 auto;
}

.feature h2 {
    padding-top: 90px;
    text-align: center;
    font-size: 32px;
    color: #000000;
}

.feature h2::after {
    content: "";
    display: block;
    width: 70px;
    height: 3px;
    margin: 8px auto 0px auto;
    background-color: #EC715F;
}

.feature .heading-text {
    font-size: 16px;
    color: #000000;
    text-align: center;
    padding-top: 30px;
}

.strength-group {
    padding: 30px 0 90px 0;
    display: flex;
}

.strength {
    width: 320px;
    margin-right: 10px;
    text-align: center;
}

.strength:last-child {
    margin-right: 0px;
}

.strength i {
    font-size: 60px;
}

.strength h3 {
    font-size: 20px;
    color: #000000;
    padding: 10px 0px;
}

.strength p {
    font-size: 16px;
    color: #000000;
    text-align: left;
}

.profile {
    background-color: #ECEFF1;
}

.profile-container {
    width: 1024px;
    margin: 0 auto;
}

.profile h2 {
    font-size: 32px;
    color: #000000;
    padding-top: 90px;
    text-align: center;
}

.profile h2::after {
    content: "";
    display: block;
    width: 70px;
    height: 3px;
    margin: 8px auto 0px auto;
    background-color: #EC715F;
}

.profile .heading-text {
    padding-top: 30px;
    font-size: 16px;
    color: #000000;
    text-align: center;
}

.profile-group {
    padding: 30px 0px 90px 0px;
    display: flex;
}

.profile-group p {
    font-size: 16px;
    color: #000000;
}

.profile .left-content {
    width: 512px;
    text-align: center;
}

.my-face {
    height: 250px;
    width: 250px;
    margin: 0 auto;
    border-radius: 50%;
    background-image:  url(../../assets/images/img/my-icon.jpg);
    background-size: cover;
    background-position: center;
}

.profile .right-content {
    width: 512px;
}

.profile .right-content h3 {
    font-size: 20px;
    margin: 20px 0px 5px 0px;
}

.profile .right-content h3:first-child {
    margin-top: 0px;
}

.contact-container {
    width: 800px;
    margin: 0 auto;
}

.contact h2 {
    font-size: 32px;
    color: #000000;
    text-align: center;
    padding-top: 90px;
}

.contact h2::after {
    content: "";
    display: block;
    width: 70px;
    height: 3px;
    margin: 8px auto 0px auto;
    background-color: #EC715F;
}

.contact .heading-text {
    font-size: 16px;
    color: #000000;
    text-align: center;
    padding-top: 30px;
}

.contact-group {
    padding-top: 30px;
    padding-bottom: 90px;
    display: flex;
}

.contact-group .left-content, .right-content {
    width: 400px;
}

.contact-group .left-contact-content {
    width: 130px;
    margin: 0 auto;
}

.contact-group .right-contact-content {
    width: 170px;
    margin: 0 auto;
}

.contact-group .left-content h3 {
    font-size: 20px;
    margin: 20px 0px 5px 0px;
}

.contact-group .left-content h3:first-child {
    margin-top: 0px;
}

.contact-group .right-content h3 {
    font-size: 20px;
}

.sns-group {
    margin-top: 5px;
    display: flex;
}

.sns-group i {
    font-size: 50px;
    margin-right: 20px;
}

.sns-group i :last-child {
    margin-right: 0px;
}

footer {
    width: 100%;
    height: 60px;
    background-color: #EC715F;
    text-align: center;
}

.copyright {
    font-size: 16px;
    color: #FAFAFA;
    line-height: 60px;
}

/* タブレット横置きサイズ（1024px）以下の際に適用される設定 */
@media screen and (max-width:1024px) {
  
}
/* タブレット縦置きサイズ（768px）以下の際に適用される設定 */
@media screen and (max-width:768px) {
    
  header {
      height: 50px;
  }
  
  .nav {
      height: 50px;
      width: 90%;
  }
  
  .navbar-brand img {
      height: 50px;
  }
  
  .navbar-box {
      display: inline-block;
      float: right;
      height: 40px;
      width: 40px;
      color: #FAFAFA;
      border: 1px solid;
      margin: 5px 0;
      text-align: center;
  }
  
  .fa-bars {
      font-size: 32px;
      line-height: 40px;
  }
  
  .nav-list {
      display: none;
  }
  
  .main-visual {
      background-image: url(../../assets/images/img/code.png);
      height: 650px;
  }
  
  .main-text-container {
      width: 90%;
      margin: 0 auto;
  }
  
  .main-visual h1 {
      font-size: 40px;
  }
  
  .main-visual p {
      font-size: 18px;
  }
  
  .portfolio-container {
      width: 90%;
  }
  
  .production-group {
      width: 250px;
      margin: 0 auto;
  }
  
  .production:nth-child(odd) {
      display: none;
  }
  
  .production:nth-child(even) {
      height: 250px;
      width: 300px;
      margin: 0 0 10px 0;
  }
}
/* スマートフォンサイズ（425px）以下の際に適用される設定 */
@media screen and (max-width:425px) {
  
}